@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: poppins;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  height: 60px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(212,213,26,1) 35%, rgba(0,212,255,1) 100%);
}

nav > a {
  color: rgb(250 255 27);
  font-size: clamp(14px, 2vw, 22px);
  font-weight: bolder;
}
